/*============================================================



Theme Name: Web123 Child



Theme URI: http://www.web123.com.au



Author: http://www.web123.com.au



Author URI:



Version: 1.0



Description:



Template: web123



Text Domain: web123-child



============================================================*/



@import url('href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,700,800"');






@import 'fonts.css';



/* css for all pages*/

input.button1111 {
    text-decoration: none;
    background: #f8f8f8;
    border: 1px solid #ebebeb;
    padding: 4px 15px 4px 15px;
    font-size: 8pt;
    color: #514742;
    border-radius: 3px;
    cursor: pointer;
    text-transform: capitalize;
}

.wpb_wrapper p{font-family: Arial, sans-serif;font-size: 9pt;color: #4e4e4e;line-height: 1.4em;margin-bottom: 12px;}



.wpb_wrapper h1{margin-bottom: 12px!important;font-family: 'MuseoSans500', Georgia, serif;



color: #949c50;



font-size: 16pt;



font-weight: normal;}



.row_rate .section_inner{width:100%!important}



.row_rate{width: 90%!important;margin: 0 auto;}



.form-group {



display: flex;



margin-bottom: 10px;



}



label.required {



width: 30%;



font-weight: 700;



margin-top: 19px;



font-family: Arial, sans-serif;font-size: 9pt;



}



input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover{border-color: #949c50;}



.wpcf7-form-control.wpcf7-submit.btn.pull-right.btn-default{    height: 37px;



background-color: #0096d6;



background-image: linear-gradient(#0096d6, #19a0da);



border-radius: 3px;



    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;



padding: 0px 14px;}



input.wpcf7-form-control.wpcf7-submit:not([disabled]){    border: 0px solid #ffffff!important;



color: #ffffff!important;}



/*********************** blog csss *********************/



.i001-extras3 {



float: right;



background: #eff0e5;



border-radius: 4px;



padding: 7px 12px;



}



.i001-list-item.cms-mg-obj a {



font-family: 'Conv_museo-sans-300';



font-size: 12pt;



font-weight: normal;



color: #0096d6;



}



.i001-list-item.cms-mg-obj h5 {



color: #949c50;



text-decoration: underline;



cursor: pointer;



margin-bottom: 10px;



}



.i001-list-item.cms-mg-obj h5:hover {text-decoration:none;}



.i001-list-item.cms-mg-obj {



line-height: 1.3em;



font-family: 'MuseoSans300', Georgia, serif;



}



.i001-list-item.cms-mg-obj {



margin-bottom: 5em;



line-height: 1.3em;



font-family: 'MuseoSans300', Georgia, serif;



}



a.i001-css-button.new_v01 {



padding: 5px 19px;



border-radius: 3px;



color: #fff;



position: relative;



font-family: Helvetica, Arial, Verdana, sans-serif;



font-size: 14px;



top: 14px;



background-color: #0096d6;



background-image: linear-gradient(#0096d6, #19a0da);



}



.container.t115-content {



width: 1170px;



margin: 0 auto;



}



div#respond {



width: 1170px;



margin: 0 auto;



}



.i001-comments-info {



width: 1170px;



margin: 0 auto;



}



/*.single_image {



background-image: url(/wp-content/uploads/2017/07/1991602.png);



height: 400px;



background-position: center;



background-size: cover;



margin-bottom: 30px;



border-bottom: 16px solid #dedede;



}*/



.title.title_size_small.position_left.has_background {



border-bottom: 16px solid #dedede;



}



li.narrow .second .inner ul {



background-color: rgba(16, 54, 68, 0.77);



margin-top: -10px;



padding: 0px;



}



div#i001-238321 h1 {



font-family: 'Conv_museosans-500';



color: #0096d6;



font-size: 16pt;



text-transform: none;



font-weight: normal;

padding-top:15px;

}



h5.date1234 {



font-weight: bold;



font-size: 9pt;



font-family: Arial, sans-serif;



color: #4e4e4e;



padding-bottom: 14px;



}



div#respond {



display: none;



}



/* comment form css start */



form#commentform p {



display: flex;



width: 40%;



}



form#commentform label {



width: 20%;



}



div#respond {



padding-bottom: 30px;



}



/* comment form css end*/



.blogshow {



width: 90%;



margin: 0 auto;



}



/* single blog page css Start */



.custom__blogs_h {



width: 94%;



margin: 0 auto;



}



.container.t115-content {



width: 80%!important;



margin: 0 auto;



}



.i001-comments-info {



width: 80%!important;



margin: 0 auto;



}



/* single blog page css End*/



.image.responsive {



background-position: center;



position: relative;



height: 680px;



}



.image.responsive img {



display: none;



}


.header_bottom .container_inner {



position: relative;



width: 94.5%;



}



.q_logo img {



margin-top: 2px;



box-shadow: 0px 0px 1px #000;



}



footer .column1 {



top: 0px!important;



}



.text3 .textwidget {



text-align: right;



}



.mc4wp-form-fields input[type="text"] {



width: 100%;



}



.mc4wp-form-fields input[type="email"] {



width: 100%;



}



.button_row {



float: right;



}



.entry-title a{color:#949c50;}



.entry-summary a {color: #949c50;}



.entry-summary p{text-align: justify;}



.vc_single_image-wrapper.vc_box_border_grey img {



margin: 4px auto;



}



.second .inner ul li a span {



padding: 0px 7px 0px 0px;



text-align: left;



color: white;



font-family: 'Conv_Museo 500';



font-size: 12pt;



font-weight: 300;



text-transform: capitalize;



/*background: #1d698b !important;*/



}



.second .inner ul li.menu-item {



border-bottom: 1px solid rgba(255, 255, 255, 0.35);



}



.column1.footer_col1 .column_inner {



border-right: 1px solid rgba(246, 246, 246, 0.11);



padding-right: 30px!important;



}



.column2.footer_col2 .column_inner {



border-right: 1px solid rgba(246, 246, 246, 0.11);



padding-right: 30px;



}



.footer_bottom .textwidget img {



vertical-align: bottom;



}



.web123_footer {



display: none;



}



a.more-link {



display: block;



}



li#nav-menu-item-14663 {



background: none;



}



nav.main_menu ul li {



float: left;



background: url(/wp-content/uploads/2017/07/nav.png) left center no-repeat;



}



.drop_down .narrow .second .inner ul li {width: 265px!important;}



.drop_down .narrow .second .inner ul li a{font-family: 'Conv_Museo 500'!important;



font-size: 9pt;



padding: 4px 15px 4px 10px;



background: none;



text-align: left;



background: #1d698b !important;



}



/************** css start ***************/



/*img.mfp-img {



width: 1000px!important;



max-width: 1000px!important;



height: auto;



display: block;



line-height: 0;



-webkit-box-sizing: border-box;



-moz-box-sizing: border-box;



box-sizing: border-box;



padding: 40px 0 40px;



margin: 0 auto;



}*/



.rbs-img-thumbnail-container {



width: 250px;



height: 250px;



}



.rbs-img-image.rbs-lightbox.mfp-image {



width: 250px!important;



height: 250px!important;



}



.category15083.rbs-img.rbs-img-loaded {



width: 250px!important;



}



.rbs-img-thumbnail-container {



width: 250px!important;



height: 250px!important;



}



.rbs-img.rbs-img-loaded {



position: relative!important;



left: 0px!important;



top: 0px!important;



}



.comment_form, .rbs_gallery_button, .comment_pager, div#comments, div#rbs_gallery_594d17c5d836bfilter, .post_info, .post_text_inner h2 {



display: none!important;



}



div#rbs_gallery_594d192845cd6 {



height: auto!important;



}



.rbs-img-thumbnail-container img {



height: 250px!important;



}



/************ csss end ***********/



li.no_grayscale {



min-height: 184px!important;



max-height: 184px!important;



}



img.attachment-medium {



min-height: 184px!important;



max-height: 184px!important;



}



li.no_grayscale {



border: 6px solid rgba(222, 222, 222, 0.52);



margin: 0px 2px 10px 2px!important;



}



body a.pp_next:after {



border: 0px!important



border-radius: 3px!important;



content: "\f101"!important;



right: 0px!important;



}



body a.pp_next:after {



display:none!important;



border: 0px!important;



border-radius: 3px!important;



content: "\f105";



right: 25px;



}



body a.pp_previous:after {display:none!important;}



body a.pp_next:after {



color: #FFF;



display: block!important;



font-family: FontAwesome,serif;



font-size: 35px!important;



height: 40px!important;



margin: -27px 0 0;



position: absolute;



text-align: center;



width: 34px!important;



text-indent: 0;



line-height: 38px!important;



top: 50%;



border-radius: 3px!important;



background-color: rgba(0,0,0,0.2);



}



.pp_hoverContainer {



border: 7px solid #fff;



margin-left: -7px;



margin-top: -7px;



}



@font-face {



font-family: 'museo500';



src: url('fonts/Museo500-Regular-webfont.eot');



src: url('fonts/Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'),



url('fonts/Museo500-Regular-webfont.woff2') format('woff2'),



url('fonts/Museo500-Regular-webfont.woff') format('woff'),



url('fonts/Museo500-Regular-webfont.ttf') format('truetype'),



url('fonts/Museo500-Regular-webfont.svg#museo500') format('svg');



font-weight: normal;



font-style: normal;



}



/* css new 24 july  */



.wpb_text_column.wpb_content_element.vc_custom_1500878278146 {



right: 71px;



position: relative;



}



table.table1 {



font-family: Arial, sans-serif;



font-size: 9pt;



color: #4e4e4e;



}



.image_with_text img {



border: 2px solid #e1e1e1;



padding: 3px;



}



a#button1 {



color: #ffffff;



border-radius: 15px!important;



cursor: pointer;



font-family: Arial, sans-serif;



padding: 0px 11px 0px 14px;



font-size: 11px!important;



line-height: 20px;



height: 21px;



text-transform: capitalize;



}



.mc4wp-form-fields input {
    margin-bottom: 10px;
    background: #d6d6d7;
    padding: 3px;
    border: none;
/*margin-bottom: 8px; */



}



.mc4wp-form-fields p:nth-child(3) {



position: relative;



left: 140px;



top: 6px;



}



.news1 h5 {



font-family: 'Conv_museosans-500';



font-size: 14pt;



color: #0096d6;



text-decoration: none;



font-weight: normal;



text-transform: capitalize;



}



h4.entry-title a {



font-size: 9pt;



color: #0096d6;



text-decoration: none;



position: relative;



font-family: Arial, sans-serif;



top: -20px;



font-weight: bold;



}



.entry-summary p {



font-family: Arial, sans-serif;



font-size: 9pt;



top: -19px;



position: relative;



}



div#text-4 {



/*border-right: 1px solid rgba(246, 246, 246, 0.11);*/



padding-right: 30px;



}



div#text-4 h5 {



font-family: 'Conv_museosans-500';



font-size: 14pt;



color: #0096d6;



text-decoration: none;



font-weight: normal;



text-transform: capitalize;



}



p.contactp {



font-family: Arial, sans-serif;



font-size: 9pt;



top: -19px;



line-height: 18px;



position: relative;



}



div#text-5 h5 {



font-family: 'Conv_museosans-500';



font-size: 14pt;



color: #0096d6;



text-decoration: none;



font-weight: normal;



text-transform: capitalize;



}



p.d_page-readmore a {



text-decoration: none;



background: #0096d6;



padding: 6px 15px 6px 15px;



font-size: 9pt;



color: #ffffff;



border-radius: 15px;



cursor: pointer;



left: 95px;



position: relative;



text-transform: capitalize;



}



.image_with_text h3 {



font-size: 15pt;



font-weight: normal;



font-family: 'Conv_museosans-500';



text-transform: capitalize;



}



nav.main_menu > ul > li:not(:first-child):before {



color: rgba(78, 143, 175, 0)!important;



}



nav.main_menu > ul > li:not(:first-child):before {



content: '';



color:rgba(158, 158, 158, 0)!important;



}



.wpb_wrapper p:nth-child(1) {



padding-top: 16px;



/*padding-bottom: 25px;*/



}



p.tc-featureA {



padding-top: 38px;



}



.bust {



padding-bottom: 56px;



}



.img12 {



padding-top: 96px;}



.img13 {



padding-top: 37px;



padding-bottom: 28px;}



.home123 {



position: relative!important;



right: 65px!important;



}



.footer_top {



padding: 36px 0 11px!important;



}



.footer_top_holder {



background: url(/wp-content/uploads/2017/07/topf.png) top left repeat!important;}



.privacy {



font-family: 'Conv_museosans-500';



color: #656569;



}



header:not(.with_hover_bg_color) nav.main_menu>ul>li>a>span:not(.plus){



font-family: 'Conv_Museo 500';



/* padding: 16px 2px; */



font-size: 13pt;



font-weight: 300;



text-decoration: none;



}



.wpb_widgetised_column .widget a:hoveR {



color: #4fb0e7!important;



}



div#newswidget1 ul li:nth-child(odd) {



background-color: rgba(0,0,0,0.05);



}



div#newswidget1 {



width: 77%;



}



span.wpcf7-form-control-wrap.your-name1 textarea {



font-family: Arial, sans-serif;



background: rgba(0,0,0,0.05);



padding: 3px;



width: 269px;



border: none;



margin-bottom: 8px;



}



span.wpcf7-form-control-wrap.your-name1 input {



font-family: Arial, sans-serif;



background: rgba(0,0,0,0.05);



padding: 4px;



width: 269px;



border: none;



margin-bottom: 8px;



}



.wpcf7-form-control.wpcf7-submit.btn.pull-right.btn-default{ line-height: 12px!important;



text-transform: capitalize!important;



padding: 0px 14px 0px 16px!important;height: 27px!important;}



.wpcf7-form-control.wpcf7-submit.btn.pull-right.btn-default1 {



background: #0096d6;



padding: 0px 8px;



bottom: 2px;



cursor: pointer;



text-transform: capitalize;



border-radius: 12px;


/*
left: -206px!important;*/



height: 25px;



line-height: 12px;



font-size: 9px;



position: relative;


/*
right: 227px; */



font-family: Arial, sans-serif;
    font-size: 9pt;



}



h1.heading1 {



color: #0096d6;



font-size: 15pt;



font-weight: normal;



text-transform: capitalize;



font-family: 'Conv_museosans-500';



}



a.qbutton.right.default {



height: 25px;



text-align: center;



line-height: 25px;



border: none;



font-size: 11px;



text-transform: none;



font-weight: 100;



position: relative;



left: 73px;



top:18px;



font-family: Helvetica, Arial, Verdana, sans-serif;



margin-left: 2px;



padding: 2px 3px 0px 5px;



width: auto;



display: inline-block !important;



min-width: 100px;



}



h4.heading11 a {



font-family: 'Conv_museo-sans-300';



color: #0096d6!important;



font-size: 12pt;



font-weight: normal;



}



.secondrow {



border-top: 1px dashed #e5e5e5;



}



.wpb_widgetised_column .widget {



margin: 0 0 1px!important;



}



.form1 {



display: inline!important;



}


/*
.btn-default1 {



right: 243px;



}*/



.new_btn1 {



padding: 13px 26px;



height: 27px;



border-radius: 3px;



color: #ffffff;



text-align: center;



line-height: 0px;



font-size: 12px;



width: auto;



display: inline-block !important;



min-width: 100px;



}



div#rpwe_widget-2 h5 {



color: #0096d6;



font-size: 15pt;



text-transform: capitalize;



font-weight: normal;



font-family: 'Conv_museosans-500';



}



h1.resultsh {



color: #0096d6;



font-size: 16pt;



font-family: 'Conv_museosans-500';



font-weight: normal;



text-transform: capitalize;



}



.div123 {



font-family: Arial, sans-serif;



font-size: 9pt;



color: #4e4e4e;



line-height: 30px!important;



}



h4.heading1234 {



font-size: 11pt!important;



font-weight: normal!important;



color: #0096d6;



font-family: 'Conv_museosans-500'!important;



}



ol.ol1 {



padding-left: 43px;



position: relative;



font-family: Arial, sans-serif!important;



font-size: 9pt!important;



color: #4e4e4e;



}



.div56 h4 a {



font-size: 12pt;



font-weight: normal;



color: #0096d6;



font-family: 'Conv_museo-sans-300';



}



.div56{padding-top: 30px;



overflow: hidden;



border-top: 1px dashed #cccccc;



padding: 8px 0 18px;}



a.new_v022 {



padding: 7px 24px;



border-radius: 3px;



color: #fff;



position: relative;



top: 11px;



background-color: #119dd9;



}



.div67 {



padding-bottom: 38px;



}



p.es-larger {



font-family: Arial, sans-serif;



font-size: 106%;



color: #4e4e4e;



}



.wpb_widgetised_column .widget a {



color: #0096d6!important;



}



.wpb_widgetised_column.widget a:hover{



color: #888888!important;



}



h3.headcont {



color: #0096d6;



font-family: 'Conv_museosans-500';



font-size: 16pt!important;



font-weight: normal;



text-transform: capitalize;



padding-top: 12px;



}



.i001-list-item11 .i001-list-image11 {



height: 169px;



}



.first11 {



overflow: hidden;



border-top: 1px dashed #e5e5e5;



padding: 16px 0 18px;



}



.i001-list-item .i001-list-image {



float: left;



width: 156px;



}



.i001-list-item .i001-list-image {



float: left;



width: 156px;



}



.first123 {



left: 90px;



position: relative;



}



input.wpcf7-form-control.wpcf7-text{border: 1px solid rgba(222, 222, 222, 0.79)!important;    line-height: 14px;padding:10px!important}



textarea.wpcf7-form-control.wpcf7-textarea{border: 1px solid rgba(222, 222, 222, 0.79)!important;padding: 8px!important;}



.home .home2 {



display: none!important;



}



.home .home1 {



display: block!important;



}



.home1 {



display: none!important;



}



.widtit{font-size: 15pt!important;



color: #0096d6;



text-decoration: none;



font-family: 'Conv_museosans-500';



text-transform: capitalize;}



.widtit a{font-size: 15pt!important;



color: #0096d6;



text-decoration: none;



font-family: 'Conv_museosans-500';



text-transform: capitalize;}



.widp{    font-family: Arial, sans-serif;



font-size: 9pt;



color: #4e4e4e;}



nav.main_menu {



left: -10%!important;}



.drop_down .second {



top: 89px!important;}



div#rpwe_widget-3 h5 {



font-family: 'Conv_museosans-500', Georgia, serif;



font-size: 14pt;



color: #0096d6;



text-decoration: none;



font-weight: normal;



text-transform: capitalize;



}



h3.rpwe-title a {



color: #0096d6;



text-decoration: none;



margin: 0px;



font-family: Arial, sans-serif;



font-size: 10pt;



text-transform: capitalize;



}



.rpwe-block li {



border-bottom: none!important;}



.rpwe-summary {



font-family: Arial, sans-serif;



top: 10px;



bottom: 11px!important;



line-height: 22px;



position: relative;



font-size: 9pt;



}



a.more-link:hover {



color: #0096d6!important;



}



a.more-link {



color: #0096d6!important;



}



h3.rpwe-title a:hover {



color: #0096d6!important;



}



.firstdiv {



overflow: hidden;



border-top: 1px dashed #e5e5e5;



padding: 16px 0 18px;



}







/* loop blog css start */



.i001-list-item11 {



overflow: hidden;



border-top: 1px dashed #e5e5e5;



padding: 16px 0 18px;



}



.i001-list {



margin-bottom: 11px;



}



.i001-list-item11 .i001-list-image11 {



float: left;



width: 156px;



}



img {



vertical-align: middle;



}



/* .i001-list-item11 .i001-list-wrap11 {



margin: 0 0 0 156px;



padding: 0 0 0 26px;



} */



.h4h{font-family: 'Conv_museo-sans-300';



font-size: 12pt;



font-weight: normal;



color: #0096d6;padding-bottom: 17px;}



.new_v0111{



background-color: #0096d6;



background-image: linear-gradient(#0096d6, #19a0da);



border-radius: 3px;



font-family: Arial, sans-serif;



font-size: 9pt;



color: #4e4e4e;



height: 27px;



color: #ffffff;



text-align: center;



line-height: 27px;



border: none;



font-size: 12px;



margin-left: 2px;



width: auto;



display: inline-block !important;



min-width: 100px;



padding-left: 4px;



padding-right: 4px;



}



/* loop blog css end */



/* menu css start */



@media only screen and (max-width: 1000px){



.main_menu {



display: block!important;



}



nav.mobile_menu {



display: none!important;



}



.mc4wp-form-fields p:nth-child(3) {



position: relative;



left: 104px!important;



}



p.d_page-readmore a {



left: 66px;



position: relative;}



a.qbutton.right.default {



position: relative;



left: 42px;}



.content_inner {



position: relative;



top: -99px;



}



.header_bottom {



top: 0px;}



}



@media only screen and (max-width: 1024px){



.mobile_menu_button {



display: none;



}



header:not(.sticky) .header_menu_bottom nav.main_menu>ul>li>a {



padding: 0 8px;



font-size: 16px;



font-weight: 400;



line-height: 60px;



}



img.mobile {



top: 16px;



left: -412px!important;



}



nav.main_menu.left {



position: relative;



left: 78px!important;}



.image.responsive {



bottom: 102px;



}



}



@media only screen and (max-width: 768px){



nav.main_menu {



position: absolute;



left: -10% !important;



}



.mobile_menu_button {



display: none;



}



.header_bottom_right_widget_holder {



position: relative;



display: table-cell !important;



vertical-align: middle;



height: 100%;



padding: 0 17px;



top: 50px;



left: 90px;



}



header:not(.sticky) .header_menu_bottom nav.main_menu>ul>li>a {



top: 85px;



padding: 0 5px;



font-size: 12px;



font-weight: 400;



line-height: 60px;



}



.header_inner_left .logo_wrapper {



height: 100px!important;



left: 10%;



}



.qbutton.large {



font-size: 16px;



height: 32px;



position: relative;



line-height: 32px;



padding: 0 15px;



top: -50px;



}



.phone-number-contact .aqw {



font-size: 16px;



top: -50px;



position: relative;



}



header:not(.centered_logo) .header_inner_left .header_fixed_right_area {



right: 0px !important;



width: 60%;



}



}



@media only screen and (max-width: 420px){



nav.main_menu {



position: absolute;



left: 0% !important;



}



/* .header_bottom, .header_top, .fixed_top_header .bottom_header {



height: 50px;



}



*/



.mobile_menu_button {



display: none;



}



header:not(.sticky) .header_menu_bottom nav.main_menu>ul>li>a {



top: 85px;



padding: 0 4px;



font-size: 5px;



font-weight: 400;



line-height: 60px;



}



.header_inner_left .logo_wrapper {



height: 100px!important;



left: 15%;



}



.logo_wrapper .q_logo img {



width: 100px !important;



top: 0!important;



}



header:not(.centered_logo) .header_inner_left .header_fixed_right_area {



right: 0px !important;



width: 60%;



}



.header_bottom_right_widget_holder {



top: 50px;



left: 35px;



}



.qbutton.large {



font-size: 10px;



height: 26px;



position: relative;



line-height: 26px;



padding: 0 10px;



top: -50px;



}



.phone-number-contact .aqw {



font-size: 10px;



top: -50px;



position: relative;



}



/* menu end  */



/*



#wptSlider .lSSlideOuter .lSPager.lSGallery img{



height: 94px!important;



max-width: 94px!important;



} */






#wpcf7-f4-p14849-o1 {



padding-top: 35px!important;



}

.four_columns>.column1, .four_columns>.column2, .four_columns>.column3, .four_columns>.column4{width21%!important}


