/*

Theme Name: Web123

Theme URI: http://

Description: Web123 Theme

Tags:

Author: Web123

Author URI: http://www.web123.com.au

Version: 1.0

License: GNU General Public License

License URI: licence/GPL.txt



CSS changes can be made in files in the /css/ folder. This is a placeholder file required by WordPress, so do not delete it.



*/

@font-face {

    font-family: 'museo500';

    src: url('fonts/Museo500-Regular-webfont.eot');

    src: url('fonts/Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'),

         url('fonts/Museo500-Regular-webfont.woff2') format('woff2'),

         url('fonts/Museo500-Regular-webfont.woff') format('woff'),

         url('fonts/Museo500-Regular-webfont.ttf') format('truetype'),

         url('fonts/Museo500-Regular-webfont.svg#museo500') format('svg');

    font-weight: normal;

    font-style: normal;

}
ul.ulli{

    font-size: 9pt;

        color: rgba(0, 0, 0, 0.91);

    text-align: justify;

    padding-left: 26px;
    line-height: 16px;

}
.d_page-img a {
    font-size: 15pt;
    font-weight: normal;
    font-family: 'Conv_museosans-500';
    text-transform: capitalize;
    color: #0096d6;
    /*left: 28px!important;*/
    top: 8px;
    position: relative;
}
.d_page-img a:hover{color: #0096d6!important;}
    

.vc_single_image-wrapper.vc_box_border_grey img {
    border: 2px solid #e1e1e1;
    padding: 3px;
}

/*.wpb_wrapper p {
    position: relative;
    left: 28px;
}
*/
a#button2 {
    color: #ffffff;
    border-radius: 15px!important;
    cursor: pointer;
    font-family: Arial, sans-serif;
    padding: 0px 11px 0px 14px;
    font-size: 11px!important;
    line-height: 20px;
    height: 21px;
    left: 230px;
    top: 21px;
    text-transform: capitalize;
}
.button_row {
    float: none!important;
}
.inner ul:nth-child(2) {
    top: 10px!important;
}


.drop_down .narrow .second .inner ul li a:hover {
    background-color: #347897!important;
}

.second .inner ul li a span {
    background-color: none!important;
}

