

.header_top_bottom_holder{
background-color: #71a8ca !important;
}

.header_bottom.clearfix {
    background-color: #1d698b!important;
}
.tc-bodytext {
    color: #4e4e4e ! important;
}
.tc-featureA {
    color: #0096d6 ! important;
}
.image.responsive {background-image: url(http://ncbqbreyqsab.managedwp.com.au/wp-content/uploads/2014/03/106-Deniliquin-Fishing-Club-V02-2015_01.jpg)!important;
}
.q_logo img {
    margin-top: -4px!important;
    box-shadow: none!important;
}
footer .column1 {
position: relative;
top: -18px;
}
.header_bottom, .header_top, .fixed_top_header .bottom_header {
    top: 30px;
    position: relative;
    z-index: 5;
    background: #1d698b;
    height: 92px;
}
nav.main_menu>ul>li>a {
font-size:18px;
}
.title_outer.title_without_animation.with_image {
    border-bottom: 16px solid #e0e0e0;
}
.title_outer.with_image .title{
height:600px;
}
.footer_bottom {
    text-align: left;
}
.qbutton.small {
    border-radius: 20px;
}
@media only screen and (max-width: 1000px){
header .q_logo img.mobile {
    height: 56%!important;
}
}